/*---Page Template---*/

.logo {
  min-height: 52px;
  position: relative;
  top: 4px;
  margin-left: 0.2em;
}
h1.logo-text {
  font-size: 3.5em;
  margin: 0;
  position: relative;
  top: 15px;
  color: rgb(222, 216, 185);
}
.tagline {
  color: white;
  position: relative;
  font-size: 1.3em;
  margin-left: 0.5em;
  bottom: 13px;
}
#languages {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0.6em;
  font-size: 1.1em;
}

/*- Search*/

.searchInput {
    position: relative;
    padding-bottom: 8px;
}
.ui.input input {
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 10em;
  max-width: 20em;
}
.ui.input input:focus, .ui.input input:active {
  transition:all .5s ease-in-out;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  -webkit-backface-visibility:hidden;
}
.ui.search .action:hover{
  background: transparent;
}

/*- Menus*/

.ui.menu {
margin: 0;
}
.ui.large.menu {
    font-size: 1.1rem;
}


/*- - Top Menu*/

.top-menu {
  background: #4d5454;
  max-width: 100%;
  margin: 0em !important;
}
#en-top {
    padding-bottom: 4px;
}

 /*- - Main Menu*/
.ui.main-menu.container {
    padding: 0em;
    width: 100%;
}
.main-menu {
  background-color: #807a60;
  width:100%;
}
.main-menu.grid {
  margin: -1rem 0 -1rem 0 !important;
  border-style: solid;
  border-width: 2px 0px 0px;
  border-image: url(../images/gold-line.jpg) 2 0 0 repeat round;
  -moz-border-image: url(../images/gold-line.jpg) 2 0 0 repeat round;
  -webkit-border-image: url(../images/gold-line.jpg) 2 0 0 repeat round;
  -o-border-image: url(../images/gold-line.jpg) 2 0 0 repeat round;

  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);

  transition:all .5s ease-in-out;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  -webkit-backface-visibility:hidden;
}
div.main-menu.container > div.menu > a, div.main-menu.container > div.menu > div > a {
  text-transform: uppercase !important;
}


/*- - Secondary menu*/

.secondary-menu {
position: relative;
background-color: white !important;
left: 0 !important;
max-height: 50px;
}
.ui .secondary.menu.item {
    padding: .2125em .9375em;
    margin: 0.2em .3125em;
}


/*- - Dropdown*/

.ui.secondary.inverted.menu .dropdown.item:hover, .ui.secondary.inverted.menu .link.item:hover, div.ui.dropdown.link.item:hover {
  background: none !important;
}
.ui.dropdown.link.item[data-level='-1'] > a.link.item:after {
  content:"▼";
  padding: 0 0 0 5px;
  font-size: 9px;
  pointer-events: none;
  box-sizing: border-box;
}
.ui.menu .dropdown.item .menu {
  color: white;
  background-color: rgba(128, 122, 96, 0.8)!important;
  border: 1px solid rgba(255,255,255,0.5)!important;
  box-shadow: none !important;
}

.ui.menu .ui.dropdown .menu>.item {
  color: rgba(255,255,255,.87)!important;
}
.alone.item.parent {
    max-height: 30px;
}
.ui.menu .item {
padding: 0em 1.125em;
}
.ui.dropdown.link.item {
    padding: 0em 0em;
}

/*- Footer*/

.copyright {
  color: lightgrey;
  text-align: right;
}

/*- Elements*/

body.default {
    background-color: #fbfaf6;
}
.ui.breadcrumb {
    margin-bottom: 0.5em !important;
}
.ui.lane {
  background-color: white;
  margin-top: 0.8em;
/*  width: 1200px;
-webkit-box-shadow: 0px 10px 11px 4px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 10px 11px 4px rgba(0,0,0,0.7);
box-shadow: 0px 10px 11px 4px rgba(0,0,0,0.7);*/
}
.ui.button {
    background-color: #5d0303;
    color: #FFF;
}
button.ui.grey.icon.button{
  background: rgba(255, 255, 255, 0.1);
}
button.ui.grey.icon.button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.ui.dim.button {
  margin: 1.5em .25em 0 0;
}

/*- - Cards*/

.ui.card {
  margin: 4em 0 !important;
  max-width: 350px;
}
.ui.card .dimmer {
position: relative;
z-index: 9;
}
.ui.lCard.card {
  width: 100%;
}
.ui.sCard.card {
  width: 100%;
  max-width: 300px;
}
.ccard {
  min-width: 350px
}
.sccard {
  min-width: 300px
}
.ui .dimmer .active {
position: relative;
z-index: 9;
}

.banner {
  margin-top: 16px;
}
.ui.large.header {
  text-align: center;
  color: white !important;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
  font-size: 2.8em;
}
.ui.medium.header {
  text-align: center;
  color: white !important;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}

/*- Containers*/
/*.sms {
  padding-bottom: 1.2em;
}*/
.ui.fluid.beige.container {
  border-top: 2px solid #4d5454;
  border-bottom: 2px solid #4d5454;
  /*background-color: #faf9f5;*/
  padding-bottom: 2em;
/*  -webkit-box-shadow: inset 0px 0px 113px -19px rgba(205,194,159,1);
  -moz-box-shadow: inset 0px 0px 113px -19px rgba(205,194,159,1);
  box-shadow: inset 0px 0px 113px -19px rgba(205,194,159,1);*/
}
.ui.container.boarder {
  border-bottom: 2px solid #4d5454;
}
.ui.gold.container {
  border-top: 2px solid;
  border-image: url(../images/gold-line.jpg) 2 0 2 0 repeat round;
  border-bottom: 2px solid;
  margin-top: 4em;
  padding: 3em 0;
/*  background-image: url("images/contemporary_china_2.png");
  background-repeat: repeat;*/
}
.ui.quote.container{
  /*background-color: #faf9f5;
  -webkit-box-shadow: inset 0px 0px 113px -19px rgba(205,194,159,1);
  -moz-box-shadow: inset 0px 0px 113px -19px rgba(205,194,159,1);
  box-shadow: inset 0px 0px 113px -19px rgba(205,194,159,1); */
  border-bottom: 0px solid #4d5454;
  border-radius: 0;
}
.ui.sentence.segment{
  font-family: alegreya SC;
  font-size: 1.6em;
  margin: 1em 0;
  text-align: center;
}
.ui.message {
  font-size: 1.17em;
}


/*Universal CSS*/

.top-padding {
  padding-top: 1em !important;
}
.botton-margin {
margin-bottom: 3em;
}
@media only screen and (max-width: 991px) {
  .main-menu {
    background-color: rgba(238, 236, 226, 0.78);
  }
  .image-slider {
    padding-top: 1.3em;
  }
}

@media only screen and (max-width: 767px) {
  .ui.card {
    margin: 0em 0 !important;
  }
  .ui.text.container {
    line-height: 1.2;
  }
  .ui.sentence.segment {
    margin: 3em 0;
  }
  .image-slider {
    display: none;
  }

}

/*---Page Specific CSS---*/

/*Homepage*/

.hp-symbols {
height: 51px;
}
.hp-custom {
  margin-bottom: -56px;
}
#hp-community {
margin-bottom: 2em;
}
.ui.fluid.hp.image {
  border-top: 2px solid;
  border-image: url(../images/gold-line.jpg) 2 0 2 0 repeat round;
  border-bottom: 2px solid;
}

/*- About*/

.ui.basic.about {
margin-bottom: 1em;
}

/*- Logout*/

.logout {
    width: 500px;
    margin: 0 auto;
    margin-top: 3em;
}

/*- Add Event*/

.input-append {
    width: 226px;
}

/*- Login*/

.ui.login {
    width: 500px;
    margin: 0 auto;
    margin-top: 3em;
}
.ui.lost.message {
    font-size: 0.9em;
}
.ui.breadcrumb.form-breadcrumb {
    margin-top: 2em;
}

/*- Contact us*/
h1.ui.header.legend {
    font-size: 2.5em;
    margin-bottom: -0.5em;
}

/*- Blog*/

div.blog .image {
  -webkit-box-shadow: 6px 6px 21px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 21px -8px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 21px -8px rgba(0,0,0,0.75);
}
div.blog .image:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.small-blog {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}

  /*- Specific Cards*/

.ui.teachings.segment {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/images/shunyamurti-teachings.jpg") !important;
  height: 350px;
  position: relative;
  margin: 0 auto !important;
}
.ui.retreats.segment {
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url("/images/retreats-img.jpg") !important;
  height: 350px;
  position: relative;
  margin: 0 auto !important;
}
.ui.translation.segment {
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url("/images/retreats-img-small.jpg") !important;
  height: 300px;
  position: relative;
  margin: 0 auto !important;
}
.ui.meditation.segment {
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url("/images/retreats-img-small.jpg") !important;
  height: 300px;
  position: relative;
  margin: 0 auto !important;
}
.ui.transformation.segment {
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url("/images/retreats-img-small.jpg") !important;
  height: 300px;
  position: relative;
  margin: 0 auto !important;
}

 /* Image Slider */

.home-slider {
  overflow: hidden;
  border-bottom: 5px solid #4d5454;
  -moz-border-image: url(../images/gold-line-grey.jpg) 0 0 5 repeat round;
  -webkit-border-image: url(../images/gold-line-grey.jpg) 0 0 5 repeat round;
  -o-border-image: url(../images/gold-line-grey.jpg) 0 0 5 repeat round;
  border-image: url(../images/gold-line-grey.jpg) 0 0 5 repeat round;
}
.slider-wrapper {
  margin-top: 12px;
}
.nivo-caption {
  position:absolute;
  margin: 0 25% 0 25%;
  left:0px;
  bottom:40px;
  background: transparent !important;
  color:#fff;
  width:50%;
  z-index:8;
  padding: 5px 10px;
  opacity: 0.8;
  overflow: hidden;
  display: none;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption h1 {
  font-size: 36px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}
.nivo-pretitle, .nivo-posttitle{
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}
a.nivoLink {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}
.nivo-controlNav {
  position: relative;
  top: -60px;
  margin-bottom: -75px;
  text-align: center;
  padding: 15px 0;
  color: white; !important
}

